:root {
    --pri-col-dark: #0b0c0e;
    --pri-col-light: #fff7e9;
    --sec1-col: #00CC8E;
    --sec1-col-acc: #038373;
    --sec2-col: #C62368;
    --sec2-col-acc: #FE7F2D;
}

* {
    -webkit-user-select: none;
}

::-webkit-scrollbar {
    width: 0.75rem;
}

::-webkit-scrollbar-track {
    background: var(--pri-col-dark);
}

::-webkit-scrollbar-thumb {
    background: var(--pri-col-light);
    border-radius: 0.75rem;
}

*,
* ::before,
* ::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    
    line-height: 1.6;
    background-color: var(--pri-col-dark);
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    min-width: 40ch;
}

.card {
    color: var(--pri-col-light);

    background-image: url(Images/temp.png);
    background-size: cover;
    background-position: center;

    margin: 5rem;
    padding-top: 10rem;
    width: 35ch;
    border-radius: 0.75rem;
    overflow: hidden;
    
    transition: transform 400ms ease;
}

.card:hover, .card:focus-within,
.card:focus-within, .card:focus-within {
    transform: scale(1.05);
}



.card-content {
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(0 0% 0% / 0.3) 30%,
        hsl(0 0% 0% / 1) 
    );

    transform: translateY(70%);
    transition: transform 600ms ease;
}

.card:hover .card-content{
    transform: translateY(1%);
    transition-delay: 50ms;
}

.card:focus-within .card-content{
    transform: translateY(0%);
    transition-duration: 0ms;
}

.card-title1 {
    position: relative;
    width: max-content;
    max-width: 100%;
}

.card-title1::after {
    content: "";
    position: absolute;
    height: 4px;
    left: calc(var(--padding) * -1);
    bottom: 0;
    width: calc(100% + var(--padding));
    background: var(--sec2-col-acc);
    
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 600ms ease;
}

.card-title2 {
    position: relative;
    width: max-content;
    max-width: 100%;
}

.card-title2::after {
    content: "";
    position: absolute;
    height: 4px;
    left: calc(var(--padding) * -1);
    bottom: 0;
    width: calc(100% + var(--padding));
    background: var(--sec1-col);
    
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 600ms ease;
}

.card:hover .card-title1::after,
.card:focus-within .card-title1::after{
    transform: scaleX(1);
}

.card:hover .card-title2::after,
.card:focus-within .card-title2::after{
    transform: scaleX(1);
}

.button1 {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: var(--pri-col-dark);
    background: var(--sec2-col-acc);
    padding: 0.5em 1em;
    border-radius: 0.75rem;
}

.button1:hover,
.button1:focus {
    background: var(--sec2-col);
}

.button2 {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: var(--pri-col-dark);
    background: var(--sec1-col);
    padding: 0.5em 1em;
    border-radius: 0.75rem;
}

.button2:hover,
.button2:focus {
    background: var(--sec1-col-acc);
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
    background: var(--pri-col-dark);
    width: 100%;
}

.navbar {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.navbar-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-title {
    color: var(--pri-col-light); 
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;   
    transform: scale(1);
    transition: transform 200ms ease;
}

.navbar-title:hover,
.navbar-title:focus {
    transform: scale(1.1);
}

.navbar-icon {  
    width: 2rem;
    display: inline-block;
}


.navbar-icon-img {  
    width: 2rem;
    transform: scale(1);
    transition: transform 200ms ease;
}

.navbar-icon-img:hover,
.navbar-icon-img:focus {
    transform: scale(1.1);
}


.subtitle {
    color: var(--pri-col-light);
}

.text {
    color: var(--pri-col-light);
    width: 80ch;
    padding: 2rem;
}

.seperator1 {
    background: var(--sec2-col);
}

.seperator2 {
    background: var(--sec1-col-acc);
}

.seperator-top1 {
    aspect-ratio: 960/200;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(Images/wave_top.svg);
}


.seperator-bottom1 {
    aspect-ratio: 960/200;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(Images/wave_bottom.svg);
}

.seperator-top2 {
    aspect-ratio: 960/200;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(Images/wave_top_2.svg);
}


.seperator-bottom2 {
    aspect-ratio: 960/200;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(Images/wave_bottom_2.svg);
}